@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>Here at Best Equipment we strive to please our users! Quality equipment is registered here every day, so if you see something you
    love, go buy the thing! As the world's biggest online catalog for anything and everything sports, we know it won't be hard for 
    you to find something.</p>
