@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Tillman Street<br />
    Glennville, Georgia 30427<br />
    <abbr title="Phone">P:</abbr>
    912.237.6094
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:cclayton914@gmail.com">cclayton914@gmail.com</a><br />
</address>