@{
    ViewBag.Title = "Welcome to Registry Unlimited!";
}

<div class="jumbotron">
    <h2>Document Your Sports Equipment Here!</h2>
    <p class="lead"></p>
    <p><a href="http://localhost:54783/Home/Index" class="btn btn-primary btn-large">Learn more &rsaquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            Let's get started with your registry. Click here to enter your information.
        </p>
        <p><a class="btn btn-default" href="http://localhost:54783/User/Create">Learn more &rsaquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Your equipment is listed here</h2>
        <p>Here is where you enter your equipment information.</p>
        <p><a class="btn btn-default" href="http://localhost:54783/Equipment/Create">Learn more &rsaquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>View all information here</h2>
        <p>Click to create, read, update, or delete an order.</p>
        <p><a class="btn btn-default" href="http://localhost:54783/Order/">Learn more &rsaquo;</a></p>
    </div>
</div>